
/* allow changing website width with style.ini */
#wrapper { width: __site_width__; margin-left: auto; margin-right: auto; }
#header, #page, #footer { padding-left: 24px; padding-right: 24px;  box-sizing: border-box;}
#content { max-width: 100%; /*margin-top: 24px;*/ }

.box { max-width: 100%; }
ul.nav { list-style: none; }
#writtensidebar h1 { font-size: 33.6px; }
#writtensidebar li a { background-image: none; padding-left: 0px; }
.page label, label { color: unset; }
button.toolbutton { margin: 3px 3px; padding: 5px }
.page button { color: black; margin:  3px 8px; }
.notify a, .notify a:link, .notify a:visited, .notify a:active, .notify a:hover,
.panelHeader a, .panelHeader a:link, .panelHeader a:visited, .panelHeader a:active, .panelHeader a:hover
#mediamanager__page .filelist .thumbs li a, #mediamanager__page .filelist .thumbs li a:link, #mediamanager__page .filelist .thumbs li a:visited, #mediamanager__page .filelist .thumbs li a:active, #mediamanager__page .filelist .thumbs li a:hover
{
	color:  unset;
}

#mediamanager__page .file .panelHeader, #mediamanager__page .file .panelContent{
	color:  black;
}

#dw__search input[type="text"]{
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	width: 136px;
}

#dw__search button {
	width: auto !important;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	color: #fff;
	background: #CB1921 url(images/gradient.png) repeat-x top center;
	border-color: #CB4349;
	cursor: pointer;

	border-radius: 16px;
	text-shadow: 0 1px 0 rgba(0,0,0,.7);
	padding: 6px 8px;
	border-left:  0px;
	height: 32px; box-sizing: border-box;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}