

/*
####################################################################
RESPONSIVE DESIGN
################################################ */
@media screen and (max-width: 800px) {
	.box { width: 100%; }
	#page, #footer { padding-left: 40px; padding-right: 40px; }
}

@media screen and (max-width: 500px) {
	#content, #sidebar, #header .left, #header .right { width: 100%; }
	textarea, select, input, .post img, .attachment img, .avatar { max-width: 90%; }
	.right { border-top: ridge 2px #dcdcdc; width: 100% !important; padding-bottom: 24px; }
	.col:first-child { margin-left: 20px; }
	.col { width: 100%; }

	/* dokuwiki specific */
	.page button { margin: 12px 8px; padding: 8px; }
	.page li { margin: 1.85em 1.35em; }
	.col li { margin: 0.85em 1.35em; }
}

